{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a>

<h1>Customers</h1>

{% if customers.length === 0 %}
  <h2>No customers found</h2>
{% else %}
  <ul style="column-count: 4">
    {% for customer in customers %}
    <li>
      <a href="/{{ customer.id }}/">
        {{ customer.fullName }}
      </a>
      {% if customer.reservations.length !== 0 %}
      <ul>
        <li>
          <!-- <a href="/reservations/{{ customer.reservations[0].id }}/edit/"> -->
            <b>{{ customer.reservations[0].getFormattedStartAt() }}</b>
            for {{ customer.reservations[0].numGuests }}
          <!-- </a> -->
        </li>
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}


{% endblock %}