{% extends 'base.html' %}

{% block title %}Edit {{ reservation.id }}{% endblock %}

{% block content %}

  <form action="/reservations/{{ reservation.id }}/edit/" method="POST">
    <h1>Edit Reservation</h1>

    <div class="mb-3">
      <label for="start-at">Start At: </label>
      <input id="start-at"
             class="form-control"
             name="startAt"
             value="{{ reservation.startAt }}">
    </div>
    <div class="mb-3">
      <label for="num-guests">Number of Guests: </label>
      <input id="num-guests"
             class="form-control"
             name="numGuests"
             value="{{ reservation.numGuests }}">
    </div>
    <div class="mb-3">
      <label for="notes"></label>Notes:
      <textarea id="notes"
                class="form-control"
                name="notes">{{ reservation.notes }}</textarea>
    </div>
    <button class="btn btn-primary">Edit</button>
    <a href="/{{ reservation.customerId }}/" class="btn btn-danger">Cancel</a>
  </form>

{% endblock %}